<!doctype html>
<title>{% block title %}{% endblock %} - My Wireless HQ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<nav>
  <a href="{{ url_for('mywireless.index') }}"><h1>My Wireless HQ</h1></a>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% block scripts %}{% endblock %}
