{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Locations{% endblock %}</h1>
    <p><a href="{{ url_for('data_warehouse.locations_index') }}">Locations</a></p>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.name.label}} {{ form.name(size=50) }}
        {% for error in form.name.errors %}
        [{{ error }}]
        {% endfor %}
        {{ form.region.label }} {{ form.region }}
        {% for error in form.region.errors %}
        [{{ error }}]
        {% endfor %}
        {{ form.district.label }} {{ form.district}}
        {% for error in form.district.errors %}
        [{{ error }}]
        {% endfor %}
        {{ form.district_startdate.label }} {{ form.district_startdate}}
        {% for error in form.district_startdate.errors %}
        [{{ error }}]
        {% endfor %}
        {{ form.dealer_code.label }} {{ form.dealer_code(max=5) }}
        {% for error in form.dealer_code.errors %}
        [{{ error }}]
        {% endfor %}
        {{ form.rq_abbreviation.label }} {{ form.rq_abbreviation(max=5) }}
        {% for error in form.rq_abbreviation.errors %}
        [{{ error }}]
        {% endfor %}
        <p>{{ form.is_active }} {{ form.is_active.label }}</p>
        {% for error in form.is_active.errors %}
        [{{ error }}]
        {% endfor %}
        <input type="submit" value="Save">
    </form>
    <script>
        let region_select = document.getElementById('region');
        let district_select = document.getElementById('district');

        region.onchange = function() {
            region = region_select.value;
            fetch('/data_warehouse/locations/districts/' + region).then(function(response) {
                response.json().then(function(data) {
                    let optionHTML = '';
                    for (let d of data.districts) {
                        optionHTML += '<option value="' + d.id + '">' + d.name + '</option>';
                    }
                    district_select.innerHTML = optionHTML;
                });
            });

        }
    </script>
{% endblock %}