{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Locations{% endblock %}</h1>
    <p><a href="{{ url_for('data_warehouse.locations_index') }}">Locations</a></p>
{% endblock %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.name.label}} {{ form.name(size=50) }}
        {% for error in form.name.errors %}
        [{{ error }}]
        {% endfor %}
        {{ form.region.label }} {{ form.region }}
        {% for error in form.region.errors %}
        [{{ error }}]
        {% endfor %}
        {{ form.dealer_code.label }} {{ form.dealer_code(max=5) }}
        {% for error in form.dealer_code.errors %}
        [{{ error }}]
        {% endfor %}
        {{ form.rq_abbreviation.label }} {{ form.rq_abbreviation(max=5) }}
        {% for error in form.rq_abbreviation.errors %}
        [{{ error }}]
        {% endfor %}
        <p>{{ form.is_active }} {{ form.is_active.label }}</p>
        {% for error in form.is_active.errors %}
        [{{ error }}]
        {% endfor %}
        <input type="submit" value="Save">
    </form>
{% endblock %}